{
  "extends": "stylelint-config-wordpress/scss",
  "rules": {
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "selector-attribute-quotes": null,
    "font-weight-notation": null,
    "declaration-property-unit-whitelist": null,
    "scss/selector-no-redundant-nesting-selector": null,
    "function-url-quotes": null,
    "selector-type-no-unknown": [true, { "ignoreTypes": ["/^checked/"] }]
  }
}